.boxmaker {
    padding-top: 2%;
    text-align: center;
    /*width: 100vh;
    height: 100vh;*/
}

.appointhead {
    align-self: center;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 38px;
}

@media only screen and (max-width: 992px) {
    .appointhead {
        font-size: 14px;

    }
}

.appointements {
    padding-top: 3%;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: 100%;*/
}

.appoint_data {
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #eeeeee;
    padding: 2%;
    border-radius: 2%;
    border: 1px solid #cccccc;

}

.action_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.appoin_service,
.appoin_client {
    text-align: left !important;
}

.appoin_service p {
    color: #333333;
    font-weight: normal;
}

.appoin_service p span {
    color: #8a1242;
    font-weight: bold;
}

.appoin_client p {
    color: #333333;
    font-weight: normal;
}

.appoin_client p span {
    color: #8a1242;
    font-weight: bold;

}

.titlerec {
    font-weight: bold;
    color: #333333;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btnA {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.01em;
    border-radius: 25px 0;
    padding: 7px 9.5px;
    display: inline-block;
    position: relative;
    color: var(--color-white);
    cursor: pointer;
}

.btnA:hover {
    color: #ffffff;
    font-weight: bold;
}

._Acc {
    background: var(--gradienta);

}

._Anu {
    background: var(--gradient);

}